@using WebBanBanh.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
@if (Model.Count == 0)
{
    <div class="row">
        <div class="col-md-6">
            <h3 style="margin:5px auto;font-weight:bold;color:black;">GIỎ HÀNG ĐANG TRỐNG</h3>
            <h3 style="margin:5px auto;font-weight:bold;color:black;">VUI LÒNG CLICK VÀO =></h3>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("SanPham","Candy")"><img style="width:200px;height:200px" src="~/icon/back.png" /></a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="text-align:center;color:black;margin-top:0">THÔNG TIN GIỎ HÀNG</h2>
            <table class="table">
                <tr style="text-align:center;font-weight:bold">

                    <td style="color:black;font-weight:bold;"> Tên Bánh</td>
                    <td style="color:black;font-weight:bold;"> Ảnh bìa</td>
                    <td style="color:black;font-weight:bold;"> Số lượng</td>
                    <td style="color:black;font-weight:bold;"> Đơn giá</td>
                    <td style="color:black;font-weight:bold;">Thành tiền</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                @foreach (var item in Model)
                {

                    <tr style="text-align:center;font-weight:bold">
                        <td style="color:black;">@item.sTenSP</td>
                        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMaSP }))
                        {
                            <td><img src="~/HinhSanPham/@item.sAnhBia" width="70px" height="70px" /></td>
                            <td><input type="number" min="1" name="txtSoLuong" value="@item.sSoLuong" style="background-color:white;width:70px;" /></td>
                            <td style="color:black">@String.Format("{0:0,0}", item.dGiaBan)</td>
                            <td style="width:90px;color:black">@String.Format("{0:0,0}", item.dThanhTien)</td>
                            <td style="width:70px;color:black;"><a href="@Url.Action("ChitietSP", "Candy", new { id = item.iMaSP })"> Chi tiết</a></td>
                            <td style="width:70px;color:black;">@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMaSP })</td>
                            <td><input style="background-color:#1ab3ad" type="submit" value="Cập nhật" /> </td>
                        }
                    </tr>
                }
                <tr style="color:black;">
                    <td colspan="9" style="text-align: right;font-weight:bold;">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
                </tr>
                <tr style="font-weight:bold;text-align:right;color:blue">
                    <td colspan="9" style="text-align:right">
                        @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGioHang")
                    </td>

                </tr>
                <tr style="font-weight:bold;text-align:center;color:blue">
                    <td colspan="9" style="text-align:right">
                        @Html.ActionLink("ĐẶT HÀNG", "DatHang", "GioHang")
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
}
